body {
    color: deeppink;
    width: contain;
    font-family: Garamond;
    background-color: yellow;
    text-indent: 20px;
}

h1 {
    font-size: 4em;
    font: italic bold;
    text-align: center;
}

h2 {
    font-size: 2em;
    font: italic bold;
    text-align: center;
}
