body {
    color: aquamarine;
    width: contain;
    font-family: Garamond;
    background-color: black;
    text-indent: 20px;
}

.rating p{
    align-content:center;
    font-size:2em;
}

h1 {
    font-size: 3em;
    font: italic bold;
    text-align: center;
}

h2 {
    font-size: 2em;
    font: italic bold;
    text-align: center;
}
